<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Notes</span></div>

# 1. There is more to if

In [14]:
def NameCheck(name):
    if name == 'Batman':
        print('Hello Batman!')
    elif name == 'Robin':
        print('Hello Sidekick!')
    else:
        print('Hello World!')

NameCheck('Batman')
NameCheck('Robin')
NameCheck('Gotham')

Hello Batman!
Hello Sidekick!
Hello World!

# 2. Asking questions

In [15]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [16]:
'apple' in fruits # Is apple in fruits?

True

In [17]:
'peach' in fruits

False

In [18]:
'peach' not in fruits # Is peach not in fruits?

True

In [19]:
#Is apple in fruits AND is celery in vegetables?
('apple' in fruits) and ('celery' in vegetables)

True

In [20]:
('apple' in fruits) and ('peach' in vegetables)

False

In [21]:
#Is apple in fruits OR is celery in vegetables?
('apple' in fruits) or ('celery' in vegetables)

True

In [22]:
('apple' in fruits) or ('peach' in vegetables)

True

In [23]:
#Is 'app' in 'apple'?
'app' in 'apple'

True

You can also compare values of the same types in Python.

In [24]:
3 > 10.5

False

In [25]:
'apples' > 'oranges'

False

This works as English letters are internally represented as numbers e.g. a is 97 and o is 111

In [26]:
3 > 'apple' # This does not work as the values are not of the same type

TypeError: '>' not supported between instances of 'int' and 'str'

# 2.1 Asking Math Questions

| Question/Condition     | Math Symbol | Python Symbol |
|------------------------|-------------|---------------|
| Equals?                |      =      |       ==      |
| Not equal?             |      ≠      |       !=      |
| Less than?             |      <      |       <       |
| Greater than?          |      >      |       >       |
| Less than or equal?    |      ≤      |       <=      |
| Greater than or equal? |      ≥      |       >=      |

# 3. Python stores information in different formats or types

In [ ]:
x = int(1.234) # This rounds x into an integer
print(x, type(x))

1 <class 'int'>

In [ ]:
x = str(1.234) # This makes x a string
print(x, type(x)) 

x = '1.234' # This also makes x a sring
print(x, type(x))

1.234 <class 'str'>
1.234 <class 'str'>

In [ ]:
x = str(1.234) # This makes x a float
print(x, type(x))

1.234 <class 'str'>

In [ ]:
x = complex(1.234) # This makes x complex
print(x, type(x))

(1.234+0j) <class 'complex'>

# 4. Never compare floats directly
When you need to compare numbers, especially for scientific work, sometimes roundoff errors occur. This is because computers have finite hardware resources, so floating point numbers cannot be stored exactly in a computer.

In [ ]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

Another example of this roundoff error is printing 0.3 to 17 d.p.

In [ ]:
f'{0.3:.17f}'

'0.29999999999999999'

To solve this issue, we should check whether or not the variable is close to the expected values instead of checking for equality.

In [ ]:
eps = 1E-10
abs(a * 3 - a3) < eps

import numpy as np
np.isclose(a * 3, a3)

True

# 5. Combining English and variables
We can combine strings with variables seamlessly using f-strings. This is useful when, for example, you are automating personalized emails to a large class.

In [ ]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [ ]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [ ]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [ ]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [ ]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

        Bruce Wayne is Batman.

In [ ]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

    Bruce Wayne is Batman.

In [ ]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

To write a number to n decimal places, you use .{n}f. The f tells the f-string to output the number in decimal notation.

In [ ]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

To write a number in scientific notation to n decimal places, use .{n}e The e tells the f-string to output the number in scientific notation.

In [ ]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

# 6. Structure of f-strings

f-string formatting has the structure {X:>0Y.ZW} 
- X	is the variable to format	(Can be a number or a string)
- \> is the alighment  ( < is left, ^ is center, > is right)
- 0 is used to pad the spaces
- Y is the total number of characters
- Z is the number of decimal places
- W is the type of variable ( f, d, s, g (asks Python to figure out))

# 7. Escape sequences
An escape sequence is a combination of characters that has a meaning other than the literal characters contained within the sequence.

An escape sequence in Python begins with \.

Some escape sequences include
- \\' if you want to write print('You\'re awesome!')
- \\\\\ for blackslash (important as \ is the start of all escape sequences)
- \n for linebreaks
- \t for horizontal tabs.

In [ ]:
print("You're nineteen years old.")

You're nineteen years old.

In [ ]:
print('A\\B\\C')

A\B\C

In [ ]:
print('A\\B\\C')

A\B\C

In [ ]:
print('A\tB\tC')

A	B	C

# 9. Shorter and Cleaner Code

|                | Long form | Short form |
|----------------|:---------:|:----------:|
| Addition       | y = y + 2 |   y += 2   |
| Subtraction    | y = y - 2 |   y -= 2   |
| Division       | y = y / 2 |   y /= 2   |
| Multiplication | y = y * 2 |   y *= 2   |