<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><span style="font-weight:bold;color:darkred">Fundamentals Exercises</span></div>

# Fundamentals (Need)
## 1. Exercise 1 (Total recall?)

In [ ]:
print()
# comment
== or != # test for equality
> < # test for inequality
if
elif
else
in #test whether or not an item is in a list
and
or 
int, str, float # data types
type() # changes the type of a variable
import # adds packages to python
as # can be used to assign an alias to a package
#f-string
print(f"Hello {variable}")

## 2. Exercise 2 (Debug me)

In [ ]:
# Debug the following
x, y = 3, 4
        z = sqrt(x*2 + y**2)
    Print(x, y, z)

In [11]:
import numpy as np
x, y = 3, 4
z = np.sqrt(x**2 + y**2)
print(x, y, z)

3 4 5.0

## 3. Exercise 3 (In your own words)

| #  | Term         | Description                                                    |
|----|--------------|----------------------------------------------------------------|
| 1  | Function     | Something that does a specific task                            |
| 2  | Arguments    | Values passed to a function                                  |
| 3  | Comments     | Adds description to the code so we can understand              |
| 4  | Indentations | Indicates a block of code                                      |
| 5  | Packages     | Gives Python new superpowers                                   |
| 6  | .            | Indicates ownership e.g. in math.sqrt the sqrt belongs to math |
| 7  | :            | Indicates a start of an indented block of code                 |
| 8  | []           | For lists of data                                              |
| 9  | [[],[]]      | For arrays                                                     |
| 10 | {}           | For dictionaries                                               |

## 4. Exercise 4 (More than one way to divide)

In [13]:
5/2 # Gives a float number

2.5

In [14]:
5//2 # Gives an integer

2

In [29]:
5%2 #Gives the remainder

1

# Fundamentals (Good)
## 1. Exercise 1 (f-strings to the rescue)

In [36]:
name = input("What is your name?")
print(f"How you doin {name}!")

What is your name? Tan

How you doin Tan!

In [38]:
name = input("What is your name?")
age = int(input("What is your age?"))
print(f"My name is {name} and I am {age} years old.")

What is your name? Tan
What is your age? 19

My name is Tan and I am 19 years old.

In [43]:
pi = 3.141592653589793
def pitondp(n): #value of pi to n decimal places
    print(f"The value of pi to {n} decimal places is: {pi:.{n}f}")
pitondp(2)
pitondp(4)
pitondp(6)

The value of pi to 2 decimal places is: 3.14
The value of pi to 4 decimal places is: 3.1416
The value of pi to 6 decimal places is: 3.141593

In [85]:
print(f"Apple {'$':>6} 0.99")
print(f"Banana {'$':>5} 0.59")
print(f"Orange {'$':>5} 1.29") 
print("\n********** $*****")

Apple      $ 0.99
Banana     $ 0.59
Orange     $ 1.29

********** $*****

## 2. Exercise 2 (What is your grade?)

In [108]:
grade = ""

while True:
    while True:
        try:
            score = int(input("Enter the student's score:"))
        except ValueError:
            print("Invalid input, please enter an integer from 0-100.")
        else:
            break

    if 0 <= score <= 100:
        break
        
    else:
        print("Numerical grade is outside of the range 0-100, please try again")

if 70 <= score <= 100:
    grade = "A"
if 50 <= score <= 69:
    grade = "B"
if 35 <= score <= 49:
    grade = "C"
if 0 <= score <= 34:
    grade = "Fail"

print(f"The student's letter grade is: {grade}")

Enter the student's score: 99

The student's letter grade is: A

## Exercise 3 (Debugging Code)

In [117]:
def factorial(n):
    if n < 0:
        return "Invalid input"
    elif n == 0:
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            result *= number
        return result


print(factorial(5))   # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid input